* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: black; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  background-color: #727f863d;
  height: 10.625rem;
  width: 100%; }
  header div .menu {
    position: absolute;
    top: .625rem;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header div .menu a .logo-messi-menu {
      width: 9.375rem;
      height: 6.25rem;
      margin: 1.25rem; }
    header div .menu #menu {
      display: none; }
    header div .menu label {
      cursor: pointer;
      display: none; }
      header div .menu label .menu-icono {
        width: 2.5rem;
        height: 1.875rem;
        margin: 1.25rem; }
    header div .menu .navBar ul li {
      position: relative;
      float: left;
      list-style: none; }
      header div .menu .navBar ul li a {
        font-size: 1.25rem;
        padding: 1.25rem;
        color: #cfcfcf;
        text-decoration: none;
        display: block;
        font-weight: bold; }
        header div .menu .navBar ul li a:hover {
          color: white; }

footer {
  background-color: #075581;
  padding: .125rem;
  width: 100%; }
  footer ul {
    display: flex;
    align-items: center; }
    footer ul h2 {
      font-family: "Questrial", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: .9375rem;
      margin: 1.875rem;
      color: #FFFFFF;
      text-decoration: none; }
    footer ul .logo-1, footer ul .logo-2, footer ul .logo-3, footer ul .logo-4, footer ul .logo-5, footer ul .logo-6, footer ul .logo-7, footer ul .logo-8 {
      list-style: none;
      margin: 2.5rem; }
      footer ul .logo-1 img, footer ul .logo-2 img, footer ul .logo-3 img, footer ul .logo-4 img, footer ul .logo-5 img, footer ul .logo-6 img, footer ul .logo-7 img, footer ul .logo-8 img {
        width: 12.5rem;
        height: 9.375rem;
        flex-wrap: wrap; }
    footer ul .logo-6, footer ul .logo-7, footer ul .logo-8 {
      margin: .625rem; }
      footer ul .logo-6 img, footer ul .logo-7 img, footer ul .logo-8 img {
        width: 4.375rem;
        height: 4.375rem;
        flex-wrap: wrap; }

main .inicio .titulo-inicio {
  text-align: left;
  margin: 3.125rem;
  margin-left: 6.25rem;
  margin-top: 5rem;
  color: grey;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5.625rem; }

main .inicio .cuadros-inicio {
  text-align: right;
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 6.25rem;
  padding-bottom: 12.5rem; }
  main .inicio .cuadros-inicio div {
    width: 16.25rem;
    height: 200px;
    background-color: #303030;
    text-align: center;
    margin: 2.5rem; }
    main .inicio .cuadros-inicio div:hover {
      background-color: #4b4949; }
    main .inicio .cuadros-inicio div a {
      color: #9e9d9d;
      font-weight: bold;
      font-size: 1.75rem;
      text-decoration: none; }
      main .inicio .cuadros-inicio div a .fotos-inicio {
        width: 12.5rem;
        height: 9.375rem; }

.biografia {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(2, 1fr); }
  .biografia section div h1 {
    color: #F6F6F6;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 5rem;
    font-style: normal;
    text-align: center;
    margin: 3.125rem;
    padding-right: 2.8125rem; }
  .biografia section div p {
    color: #D9D9D9;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    width: 80%;
    height: 30.625rem;
    text-indent: .9375rem;
    text-align: center;
    margin: 5rem; }
  .biografia .slide {
    margin: 3.125rem;
    margin-top: 5.625rem; }
    .biografia .slide img {
      height: 70vh; }

.carrera-datos h1 {
  color: #F6F6F6;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 5rem;
  font-style: normal;
  text-align: center;
  margin: 3.125rem;
  align-items: center;
  justify-content: center;
  margin-top: 5rem; }

.carrera-datos div article {
  display: flex;
  justify-content: center; }
  .carrera-datos div article div {
    background-color: #54535398;
    text-align: center;
    width: 25rem;
    height: 43.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Questrial", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin: 4.6875rem;
    font-size: 1.25rem; }
    .carrera-datos div article div img {
      width: 200px;
      height: 200px;
      margin: 40px; }
    .carrera-datos div article div:hover {
      background-color: #545353; }

.seleccion {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .seleccion section {
    grid-column: 2/3;
    grid-area: 1/2; }
    .seleccion section div h1 {
      color: #F6F6F6;
      font-family: "Roboto Slab", serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-size: 5rem;
      font-style: normal;
      text-align: center;
      margin: 3.125rem;
      text-align: center;
      padding-right: 2.8125rem;
      padding-top: 3.125rem; }
    .seleccion section div p {
      color: #D9D9D9;
      font-family: "PT Sans", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.25rem;
      text-align: center;
      text-indent: .9375rem;
      width: 50rem;
      height: 28.75rem;
      margin: 3.125rem;
      align-items: center;
      padding: 2.1875rem; }
  .seleccion div {
    grid-column: 1/2; }
    .seleccion div .slide {
      margin: 3.125rem;
      margin-top: 5.625rem; }
      .seleccion div .slide div img {
        height: 70vh; }
  .seleccion .slide {
    margin: 3.125rem;
    margin-top: 5.625rem; }
    .seleccion .slide div img {
      height: 70vh; }
