.seleccion{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    section{
        grid-column: 2/3;
        grid-area: 1/2;
        div{
            h1{
                @include h1;
                text-align: center;
                justify-content: center;
                margin-right: 120px
                
            }
            p{
                @include p;
                text-align: center;
                text-indent: .9375rem;
                width: 80%;
                height: 80%;
                text-align: center;
                justify-content: center;
            }
        } 
    }
    div{
        grid-column: 1/2;
        @import "../components/carrousel-sel";
    }
    @import "../components/carrousel-sel";
}