@media (max-width:1281px){
    footer{
        ul{
            h2{
                font-size: 20px;
            }
            .logo-1{
                img{
                    width: 90px;
                    height: 80px;
                    flex-wrap: wrap;
                    margin: .5rem;
                }
            }
            .logo-6{
                img{
                    width: 3.125rem;
                    height: 3.125rem;
                    margin: 0px;
                    flex-wrap: wrap;
                }
            }
        }
    }
    .biografia{
        section{
            div{
                p{
                    margin: 125px;
                }
            }
        }
    }
    .carrera-datos{
        h1{
            font-size: 5rem;
        }
        div{
            article{
                flex-direction: column;
                div{
                    width: 88%;
                    height: 15.625rem;
                    flex-direction: row;
                    justify-content: space-around;
                    p{
                        font-size: 25px;
                        margin: 0px;
                    }
                    img{
                        margin: 1.25rem;
                    }
                }
            }
        }
    }
}