@media(max-width:620px){
    footer{
        ul{
            h2{
                font-size: 22px;
            }
            .logo-1{
                img{
                    width: 8.125rem;
                    height: 6.875rem;
                }
            }
            .logo-2{
                padding-left: 3.75rem;
            }
            .logo-3{
                padding-right: 3.75rem;
            }
            .logo-4{
                padding-left: 3.75rem;
            }
            .logo-5{
                padding-right: 3.75rem;
            }
            .logo-6{
                img{
                width: 60px;
                height: 60px;
                }
            }
        }
    }
}