@media(max-width:669px){
    .biografia{
        section{
            div{
                p{
                    font-size: 20px;
                    margin: 70px;
                }
            }
        }
    }
    main{
        div{
            .novedades{
                display: flex;
                flex-direction: column;
                margin: 30px;
            }
            .partidos-destacados{
                .slide{
                    div{
                        div{
                            img{
                                height: 50vh;
                            }
                        }
                    }
                }
                h4{
                    font-size: 16px;
                }
            }
        }
    }
}