@media(max-width:157.8125rem){
    footer{
        ul{
            .logo-1{
                img{
                    width: 12.8125rem;
                    height: 9.375rem;
                }
            }
            .logo-6{
                img{
                    width: 5.9375rem;
                    height: 5.9375rem;
                }
            }
        }
    }
}