@media(max-width:1024px){
    footer{
        ul{
            h2{
                font-size: 22px;
            }
            .logo-1{
                img{
                    width: 80px;
                    height: 70px;
                    margin: .125rem;
                }
            }
            .logo-6{
                img{
                    width: 2.5rem;
                    height: 2.5rem;
                    margin: -10px;
                }
            }
        }
    }
    header{
        div{
            .menu{
                .navBar{
                    ul{
                        li{
                            a{
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
    main{
        .inicio{
            .titulo-inicio{
                font-size: map-get($font-size, grande);
                text-align: center;
                margin-left: 50px;
            }
            .cuadros-inicio{
                div{
                    width: 15.625rem;
                    height: 11.875rem;
                    a{
                        font-size: 25px;
                    }
                }
            }
        }
    }
    .seleccion{
        section{
            div{
                h1{
                    font-size: map-get($font-size, medio);
                    padding-left: 60px;
                }
                p{
                    font-size: 20px;
                    margin-left: 90px;
                    padding: 30px;
                    padding-top: 0px;
                }
            }
        }
    }
}