@media(max-width:387px){
    footer{
        ul{
            margin: -5px;
            h2{
                font-size: 17px;
            }
            .logo-1{
                img{
                    width: 80px;
                    height: 50px;
                }
            }
            .logo-2{
                padding: -5px;
            }
            .logo-3{
                padding: -5px;
            }
            .logo-4{
                padding: -5px;
            }
            .logo-5{
                padding: -5px;
            }
            .logo-6{
                img{
                width: 50px;
                height: 50px;
                }
            }
        }
    }
    main{
        .inicio{
            .titulo-inicio{
                font-size: 60px;
            }
            .cuadros-inicio{
                div{
                    width: 210px;
                    height: 170px;
                    margin: 20px;
                    a{
                        font-size: 18px;
                        .fotos-inicio{
                            width: 165px;
                            height: 120px;
                        }
                    }
                }
            }
        }
    }
    section{
        .titulo-gal{
            @include h1;
            font-size: 40px;
        }
    }
    .seleccion{
        section{
            div{
                h1{
                    font-size: 40px;
                    margin: 5px;
                    margin-left: 10px;
                }
                p{
                    font-size: 11px;
                    margin-left: 40px;
                    padding: 20px;
                    margin-top: 5px;
                }
            }
        }
        .slide{
            margin: 20px;
            margin-top: 40px;
            img{
                height: 35vh;
                margin-top: 80px;
            }
        }
    }
}