@media(max-width:320px){
    header{
        height: 120px;
        div{
            .menu{
                a{ 
                    .logo-messi-menu{
                        width: 65px;
                        height: 50px;
                    }
                }    
            }
        }
    }
    .content{
        .menu{
            .navBar{
                height: 360px;
                ul{
                    li{
                        a{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
