@media(max-width:620px){
    footer{
        ul{
            h2{
                font-size: 22px;
            }
            .logo-1{
                img{
                    width: 8.125rem;
                    height: 6.875rem;
                }
            }
            .logo-2{
                padding-left: 3.75rem;
            }
            .logo-3{
                padding-right: 3.75rem;
            }
            .logo-4{
                padding-left: 3.75rem;
            }
            .logo-5{
                padding-right: 3.75rem;
            }
            .logo-6{
                img{
                width: 60px;
                height: 60px;
                }
            }
        }
    }
    section{
        .grid{
            
            .img1{
                
                grid-column: 1/9;
                grid-row: 2/8;
            }
            .img2{
                
                grid-column: 1/9;
                grid-row: 8/13;
            }
            .img3{
                height: 100%;
                grid-column: 1/9;
                grid-row: 13/20;
            }
            .img4{
                grid-column: 1/9;
                grid-row: 20/38;
            }
            .img5{
                grid-row: 38/48;
                grid-column: 1/9;
            }
            .img6{
                grid-column: 1/9;
                grid-row: 48/60;
            }
        }
    }
    .seleccion{
        section{
            div{
                h1{
                    font-size: 60px;
                    margin: 15px;
                    padding-left: 0px;
                }
                p{
                    font-size: 16px;
                    margin-left: 60px;
                    padding: 30px;
                    margin-top: -15px;
                }
            }
        }
    }
    .biografia{
        section{
            div{
                p{
                    font-size: 18px;
                }
            }
        }
    }
    .carrera-datos{
        div{
            article{
                div{
                    @include datos;
                    width: 80%;
                    margin-left: 65px;
                    p{
                        font-size: 25px;
                        margin-bottom: 15px;
                    }
                    img{
                        margin: 0px;
                        margin-bottom: 40px;
                        width: 18.75rem;
                        height: 17.5rem;
                    }
                }
            }
        }
    }
    main{
        div{
            .partidos-destacados{
                h2{
                    font-size: 50px;
                    padding: 20px 40px;
                }
                .slide{
                    margin: 20px;
                    div{
                        div{
                            img{
                                height: 45vh;
                            }
                        }
                    }
                }
                h4{
                    font-size: 15px;
                    padding: 30px 150px;
                }
            }
        }
    }
}