@media(max-width:1822px){
    footer{
        ul{
            h2{
                font-size: 20px;
            }
            .logo-1{
                margin: 20px;
            }
            .logo-6{
                img{
                    width: 4.375rem;
                    height: 4.375rem;
                }
            }
        }
    }
}
