@media(max-width:2284px){
    footer{
        ul{
            .logo-1{
                img{
                    width: 10.625rem;
                    height: 7.5rem;
                }
            }
            .logo-6{
                img{
                    width: 5.625rem;
                    height: 5.625rem;
                }
            }
        }
    }
}