@media(max-width:1920px){
    main{
        .inicio{
            .titulo-inicio{
                font-size: 7.5rem;
            }
            .cuadros-inicio{
                div{
                    width: 18.75rem;
                    height: 13.125rem;
                    a{
                        font-size: 2.5rem;
                        .fotos-inicio{
                            width: 12.5rem;
                            height: 9.375rem;
                        }
                    }
                }
            }
        }
    }
    footer{
        ul{
            h2{
                font-size: 20px;
            }
            .logo-1{
                img{
                    width: 12.5rem;
                    height: 9.375rem;
                    margin: -2px;
                }
            }
            .logo-6{
                img{
                    width: 4.375rem;
                    height: 4.375rem;
                }
            }
        }
    }
    .seleccion{
        section{
            div{
                h1{
                    padding-top: 30px;
                    padding-left: 60px;
                }
                p{
                    font-size: 28px;
                }
            }
        }
    }
}
