@media(max-width:768px){
    footer{
        ul{
            h2{
                font-size: 25px;
            }
            .logo-1{
                img{
                    width: 9.375rem;
                    height: 8.125rem;
                }
            }
            .logo-2{
                padding-left: 5rem;
            }
            .logo-3{
                padding-right: 5rem;
            }
            .logo-4{
                padding-left: 5rem;
            }
            .logo-5{
                padding-right: 5rem;
            }
            .logo-6{
                img{
                width: 70px;
                height: 70px;
                }
            }
        }
    }
    .seleccion{
        section{
            div{
                h1{
                    font-size: 4.375rem;
                }
                p{
                    font-size: 16px;
                    margin-left: 70px;
                    padding: 30px;
                    margin-top: -15px;
                }
            }
        }
        .slide{
            div{
                img{
                    height: 50vh;
                }
            }
        }
    }
    .biografia{
        section{
            div{
                h1{
                    font-size: 4.375rem;
                }
                p{
                    margin: map-get($font-size,medio);
                    
                    font-size: 21px;
                }
            }
        }
    }
    .carrera-datos{
        div{
            article{
                div{
                    margin-left: 45px;
                    grid-template-columns: repeat(2,1fr);
                    grid-template-rows: repeat(4,1fr);
                    height: 21.875rem;
                    p{
                        font-size: 22px;
                        
                    }
                    img{
                        grid-row: 1/6;
                        margin-left: 50px;
                        width: 250px;
                        height: 250px;
                    }
                }
            }
        }
    }
}