@media(max-width:620px){
    footer{
        ul{
            h2{
                font-size: 22px;
            }
            .logo-1{
                img{
                    width: 8.125rem;
                    height: 6.875rem;
                }
            }
            .logo-2{
                padding-left: 3.75rem;
            }
            .logo-3{
                padding-right: 3.75rem;
            }
            .logo-4{
                padding-left: 3.75rem;
            }
            .logo-5{
                padding-right: 3.75rem;
            }
            .logo-6{
                img{
                width: 60px;
                height: 60px;
                }
            }
        }
    }
    section{
        .grid{
            
            .img1{
                
                grid-column: 1/9;
                grid-row: 2/8;
            }
            .img2{
                
                grid-column: 1/9;
                grid-row: 8/13;
            }
            .img3{
                height: 100%;
                grid-column: 1/9;
                grid-row: 13/20;
            }
            .img4{
                grid-column: 1/9;
                grid-row: 20/38;
            }
            .img5{
                grid-row: 38/48;
                grid-column: 1/9;
            }
            .img6{
                grid-column: 1/9;
                grid-row: 48/60;
            }
        }
    }
    .seleccion{
        section{
            div{
                h1{
                    font-size: 60px;
                    margin: 15px;
                    padding-left: 0px;
                }
                p{
                    font-size: 16px;
                    margin-left: 60px;
                    padding: 30px;
                    margin-top: -15px;
                }
            }
        }
    }
}